<div>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main">
                        Reservations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main">
                        Customers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main">
                        Financials
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main">
                        Maintenance
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>